<a href="https://colab.research.google.com/github/rinr2602/DA_pandas_series/blob/main/pandas_series_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Series Exercises

In [27]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.5.3

###Series Creation

In [28]:
marks = pd.Series([70,80,45], index=['Physics','Chemistry','Mathematics'])
marks

Physics        70
Chemistry      80
Mathematics    45
dtype: int64

In [29]:
X = ['a','b','c']
print(X,type(X))
Y = pd.Series(X)
print(Y,type(Y))

['a', 'b', 'c'] <class 'list'>
0    a
1    b
2    c
dtype: object <class 'pandas.core.series.Series'>

### Given the X python list convert it to an Y pandas Series

In [30]:
X = pd.Series(['a','b','c'])
X
X.name = 'My letters'
X

0    a
1    b
2    c
Name: My letters, dtype: object

### Given the X pandas Series, show its values

In [31]:
X = pd.Series(['a','b','c'])
X.values

array(['a', 'b', 'c'], dtype=object)

## Series indexation
### Assign index names to the given marks pandas Series

In [32]:
marks = pd.Series([90,85,60])
index_names = ['P','C','M']
marks.index = index_names
marks

P    90
C    85
M    60
dtype: int64

### Given the marks pandas Series, show its first element

In [33]:
marks = pd.Series([90,85,60], index=['P','C','M'])
marks
marks[0]
marks.iloc[0]
marks['P']

90

### Given the marks pandas Series, show its last element

In [34]:
marks = pd.Series([90,85,60], index=['P','C','M'])
marks[-1]
marks.iloc[-1]
marks['M']

60

###Given the X pandas Series, show all middle elements

In [35]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X[1:-1]
X.iloc[1:-1]
# X['second','third',...and so on]

second    B
third     C
forth     D
dtype: object

###Given the X pandas Series, show the elements in reverse position

In [36]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X[::-1]
X.iloc[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

### Given the X pandas Series, show the first and last elements

In [37]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X[[0,-1]]
X.iloc[[0,-1]]

first    A
fifth    E
dtype: object

## Series manipulation
### Convert the given integer pandas Series to float

In [38]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
pd.Series(X,dtype=float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

###Reverse the given pandas Series (first element becomes last)

In [39]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X[::-1]
X.iloc[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

### Order (sort) the given pandas Series

In [40]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])
X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

### Given the X pandas Series, set the fifth element equal to 10

In [41]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X[4] = 10
X

first      1
second     2
third      3
forth      4
fifth     10
dtype: int64

### Given the X pandas Series, change all the middle elements to 0

In [42]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
X[1:-1]=0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

### Given the X pandas Series, add 5 to every element

In [43]:
X = pd.Series([1,2,3,4,5])
X+5

0     6
1     7
2     8
3     9
4    10
dtype: int64

## Series Boolean Arrays

### Given the X pandas Series, make a mask showing negative elements

In [44]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

### Given the X pandas Series, get the negative elements

In [45]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X < 0
X[mask]

0   -1
3   -4
8   -9
dtype: int64

### Given the X pandas Series, get numbers higher than 5

In [46]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X >5
X[mask]

5     6
9    10
dtype: int64

### Given the X pandas Series, get numbers higher than the elements mean

In [47]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mean = X.mean()
mask = X > mean
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

### Given the X pandas Series, get numbers equal to 2 or 10

In [48]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = (X==2) | (X==10)
X[mask]

1     2
9    10
dtype: int64

## Logic Functions
### Given the X pandas series, return True if none of the elements is zero

In [54]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.all()

False

### Given the X pandas Series, return True if any of its elements is zero

In [55]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.any()

True

##Summary statistics
###Given the X pandas Series, show the sum of its elements

In [57]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
X.sum()

43

###Given the X pandas Series, show the mean value of its elements

In [58]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
X.mean()

4.777777777777778

### Given the X pandas Series, show the max value of its elements

In [59]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.max()

10